<li>
	{{dog_name}} - {{owner_name}}

    <button class="infoButton" data-id="{{id}}">
        <!-- This button shows info about the dogs
        Write script to pull specific dogs information
        This font-awesome icon is the info icon !-->
        <i class="fas fa-info-circle"></i> !-->
    </button>
    

	<button class="changeWalkState" data-id="{{id}}" dataNewStage="{{stage}}">
		<!--Add Script for changing walk state
        This button changes the stage from 1 to 2 
        {{#if devoured}}Devour!{{else}}Eat Again!{{/if}} !-->
	</button>

</li>