<li>
	{{name}}
    

	<button class="changeWalkState" data-id="{{id}}" datanewWalkState="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Eat Again!{{/if}}
	</button>

    <button class="infoButton" data-id="{{id}}">
        <i class="fas fa-info-circle"></i>
    </button>
</li>